{
  "index_patterns": ["dns-queries-*"],
  "priority": 100,
  "template": {
    "mappings": {
      "dynamic_templates": [
        {
          "strings_as_keywords": {
            "match_mapping_type": "string",
            "mapping": {
              "type": "text",
              "fields": {
                "keyword": {
                  "type": "keyword",
                  "ignore_above": 256
                }
              }
            }
          }
        }
      ],
      "properties": {
        "@timestamp": {
          "type": "date"
        },
        "@version": {
          "type": "keyword"
        },
        "client_ip": {
          "type": "ip"
        },
        "port": {
          "type": "integer"
        },
        "category": {
          "type": "keyword"
        },
        "level": {
          "type": "keyword"
        },
        "domain": {
          "type": "keyword"
        },
        "query": {
          "type": "keyword"
        },
        "class": {
          "type": "keyword"
        },
        "type": {
          "type": "keyword"
        },
        "flags": {
          "type": "keyword"
        },
        "geo": {
          "properties": {
            "country_name": {
              "type": "keyword"
            },
            "city_name": {
              "type": "keyword"
            },
            "location": {
              "type": "geo_point"
            }
          }
        }
      }
    }
  }
}