sources:
  bind:
    type: file
    include:
      - "{{ bind_logs__path }}/{{ bind_logs__file }}"
    read_from: beginning

sinks:
  to_logstash:
    type: socket
    inputs: ["bind"]
    address: "{{ tf__elko_ip }}:5044"
    mode: tcp
    encoding:
      codec: json
    healthcheck: false