sources:
  bind9_queries:
    type: file
    include:
      - "{{ bind_logs_path }}/{{ bind_query_logs_file }}"
    read_from: beginning

sinks:
  to_logstash:
    type: socket
    inputs: ["bind9_queries"]
    address: "{{ prel_ip }}:5044"
    mode: tcp
    encoding:
      codec: text
    healthcheck: false