---
- name: "AGNT"
  become: true
  hosts:
    - root
    - tldd
    - au_a
    - au_b
    - recr

  vars_files:
    - "../variables/common.yaml"
    - "../variables/terraform.yaml"

  tasks:
    - name: "AGNT : add repo"
      ansible.builtin.shell:
        cmd: bash -c "$(curl -L https://setup.vector.dev)"
      changed_when: false

    - name: "AGNT : install vector"
      ansible.builtin.apt:
        state: present
        name: vector

    - name: "AGNT : create vector.yaml"
      ansible.builtin.template:
        src: "{{ tpls__path }}/elk.agent.yaml.j2"
        dest: "{{ agnt__path }}/vector.yaml"
        owner: vector
        group: vector
        mode: '0644'

    - name: "AGNT : set permissions : {{ bind_logs__file }}"
      ansible.builtin.file:
        dest: "{{ bind_logs__path }}/{{ bind_logs__file }}"
        owner: bind
        group: vector
        mode: '0644'

    - name: "AGNT : reload and restart vector"
      ansible.builtin.systemd:
        name: vector
        state: restarted
        enabled: true
        daemon_reload: true
