---
- name: "DNS : RECR"
  become: true
  hosts: recr

  vars:
    root_zone: "."

    db__root_ns: "ns.root."

  vars_files:
    - "../variables/common.yaml"
    - "../variables/terraform.yaml"

  handlers:
    - name: "RECR : check named.conf"
      ansible.builtin.command:
        cmd: "named-checkconf {{ bind_cfgs__path }}/named.conf"
      register: cfg_stat
      failed_when: cfg_stat.rc != 0
      changed_when: false

    - name: "RECR : reload and start bind"
      ansible.builtin.systemd:
        name: bind9
        state: restarted
        enabled: true
        daemon_reload: true

  tasks:
    - name: "RECR : get pkgs"
      ansible.builtin.package_facts:
        manager: auto

    - name: "RECR : bind installed"
      when: "'bind9' in ansible_facts.packages"

      block:
        - name: "RECR : stop bind"
          ansible.builtin.systemd:
            name: bind9
            state: stopped

        - name: "RECR : recreate named.conf"
          ansible.builtin.template:
            src: "{{ tpls__path }}/recr.conf.j2"
            dest: "{{ bind_cfgs__path }}/named.conf"
            owner: root
            group: bind
            mode: '0644'
          notify: "RECR : check named.conf"

        - name: "RECR : ensure dir : {{ zone_cfgs__path }}"
          ansible.builtin.file:
            path: "{{ zone_cfgs__path }}"
            state: directory
            owner: bind
            group: bind
            mode: '0755'

        - name: "RECR : recreate zones"
          ansible.builtin.template:
            src: "{{ item.src }}"
            dest: "{{ item.dest }}"
            owner: root
            group: bind
            mode: '0644'
          loop:
            - { src: "{{ tpls__path }}/db.root.hints.j2", dest: "{{ zone_cfgs__path }}/db.root.hints" }
            - { src: "{{ tpls__path }}/db.local.j2", dest: "{{ zone_cfgs__path }}/db.local" }
            - { src: "{{ tpls__path }}/db.0.j2", dest: "{{ zone_cfgs__path }}/db.0" }
            - { src: "{{ tpls__path }}/db.127.j2", dest: "{{ zone_cfgs__path }}/db.127" }
            - { src: "{{ tpls__path }}/db.255.j2", dest: "{{ zone_cfgs__path }}/db.255" }

        - name: "RECR : ensure dir : {{ bind_logs__path }}"
          ansible.builtin.file:
            path: "{{ bind_logs__path }}"
            state: directory
            owner: root
            group: bind
            mode: '0755'

        - name: "RECR : recreate file : {{ bind_logs__file }}"
          ansible.builtin.file:
            path: "{{ bind_logs__path }}/{{ bind_logs__file }}"
            state: touch
            owner: bind
            group: bind
            mode: '0640'
          notify: "RECR : reload and start bind"

    - name: "RECR : bind not installed"
      when: "'bind9' not in ansible_facts.packages"

      block:
        - name: "RECR : install bind"
          ansible.builtin.apt:
            update_cache: true
            state: present
            name:
              - bind9
              - bind9utils

        - name: "RECR : remove dir : {{ bind_cfgs__path }}"
          ansible.builtin.file:
            path: "{{ bind_cfgs__path }}"
            state: absent

        - name: "RECR : recreate dir : {{ bind_cfgs__path }}"
          ansible.builtin.file:
            path: "{{ bind_cfgs__path }}"
            state: directory
            owner: root
            group: bind
            mode: '0755'

        - name: "RECR : create named.conf"
          ansible.builtin.template:
            src: "{{ tpls__path }}/recr.conf.j2"
            dest: "{{ bind_cfgs__path }}/named.conf"
            owner: root
            group: bind
            mode: '0644'
          notify: "RECR : check named.conf"

        - name: "RECR : create dir : {{ zone_cfgs__path }}"
          ansible.builtin.file:
            path: "{{ zone_cfgs__path }}"
            state: directory
            owner: bind
            group: bind
            mode: '0755'

        - name: "RECR : create zones"
          ansible.builtin.template:
            src: "{{ item.src }}"
            dest: "{{ item.dest }}"
            owner: root
            group: bind
            mode: '0644'
          loop:
            - { src: "{{ tpls__path }}/db.root.hints.j2", dest: "{{ zone_cfgs__path }}/db.root.hints" }
            - { src: "{{ tpls__path }}/db.local.j2", dest: "{{ zone_cfgs__path }}/db.local" }
            - { src: "{{ tpls__path }}/db.0.j2", dest: "{{ zone_cfgs__path }}/db.0" }
            - { src: "{{ tpls__path }}/db.127.j2", dest: "{{ zone_cfgs__path }}/db.127" }
            - { src: "{{ tpls__path }}/db.255.j2", dest: "{{ zone_cfgs__path }}/db.255" }

        - name: "RECR : create dir : {{ bind_logs__path }}"
          ansible.builtin.file:
            path: "{{ bind_logs__path }}"
            state: directory
            owner: root
            group: bind
            mode: '0755'

        - name: "RECR : create file : {{ bind_logs__file }}"
          ansible.builtin.file:
            path: "{{ bind_logs__path }}/{{ bind_logs__file }}"
            state: touch
            owner: bind
            group: bind
            mode: '0640'
          notify: "RECR : reload and start bind"
