---
- name: "DNS : ROOT"
  become: true
  hosts: root

  vars:
    zone: "."

    db__soa_mname: "ns.root."
    db__soa_rname: "admin.root."
    db__tld_domain: "domain."
    db__tld_ns_server: "ns.domain."

  vars_files:
    - "../variables/common.yaml"
    - "../variables/terraform.yaml"

  handlers:
    - name: "ROOT : check named.conf"
      ansible.builtin.command:
        cmd: "named-checkconf {{ bind_cfgs__path }}/named.conf"
      register: cfg_stat
      failed_when: cfg_stat.rc != 0
      changed_when: false

    - name: "ROOT : check db.root"
      ansible.builtin.command:
        cmd: "named-checkzone {{ zone }} {{ zone_cfgs__path }}/db.root"
      register: zone_stat
      failed_when: zone_stat.rc != 0
      changed_when: false

    - name: "ROOT : reload and start bind"
      ansible.builtin.systemd:
        name: bind9
        state: restarted
        enabled: true
        daemon_reload: true

  tasks:
    - name: "ROOT : get pkgs"
      ansible.builtin.package_facts:
        manager: auto

    - name: "ROOT : bind installed"
      when: "'bind9' in ansible_facts.packages"

      block:
        - name: "ROOT : stop bind"
          ansible.builtin.systemd:
            name: bind9
            state: stopped

        - name: "ROOT : recreate named.conf"
          ansible.builtin.template:
            src: "{{ tpls__path }}/root.conf.j2"
            dest: "{{ bind_cfgs__path }}/named.conf"
            owner: root
            group: bind
            mode: '0644'
          notify: "ROOT : check named.conf"

        - name: "ROOT : ensure dir : {{ zone_cfgs__path }}"
          ansible.builtin.file:
            path: "{{ zone_cfgs__path }}"
            state: directory
            owner: bind
            group: bind
            mode: '0755'

        - name: "ROOT : recreate zones"
          ansible.builtin.template:
            src: "{{ item.src }}"
            dest: "{{ item.dest }}"
            owner: root
            group: bind
            mode: '0644'
          loop:
            - { src: "{{ tpls__path }}/db.root.j2", dest: "{{ zone_cfgs__path }}/db.root" }
            - { src: "{{ tpls__path }}/db.local.j2", dest: "{{ zone_cfgs__path }}/db.local" }
            - { src: "{{ tpls__path }}/db.0.j2", dest: "{{ zone_cfgs__path }}/db.0" }
            - { src: "{{ tpls__path }}/db.127.j2", dest: "{{ zone_cfgs__path }}/db.127" }
            - { src: "{{ tpls__path }}/db.255.j2", dest: "{{ zone_cfgs__path }}/db.255" }
          notify: "ROOT : check db.root"

        - name: "ROOT : ensure dir : {{ bind_logs__path }}"
          ansible.builtin.file:
            path: "{{ bind_logs__path }}"
            state: directory
            owner: root
            group: bind
            mode: '0755'

        - name: "ROOT : recreate file : {{ bind_logs__file }}"
          ansible.builtin.file:
            path: "{{ bind_logs__path }}/{{ bind_logs__file }}"
            state: touch
            owner: bind
            group: bind
            mode: '0640'
          notify: "ROOT : reload and start bind"

    - name: "ROOT : bind not installed"
      when: "'bind9' not in ansible_facts.packages"

      block:
        - name: "ROOT : install bind"
          ansible.builtin.apt:
            update_cache: true
            state: present
            name:
              - bind9
              - bind9utils

        - name: "ROOT : remove dir : {{ bind_cfgs__path }}"
          ansible.builtin.file:
            path: "{{ bind_cfgs__path }}"
            state: absent

        - name: "ROOT : recreate dir : {{ bind_cfgs__path }}"
          ansible.builtin.file:
            path: "{{ bind_cfgs__path }}"
            state: directory
            owner: root
            group: bind
            mode: '0755'

        - name: "ROOT : create named.conf"
          ansible.builtin.template:
            src: "{{ tpls__path }}/root.conf.j2"
            dest: "{{ bind_cfgs__path }}/named.conf"
            owner: root
            group: bind
            mode: '0644'
          notify: "ROOT : check named.conf"

        - name: "ROOT : create dir : {{ zone_cfgs__path }}"
          ansible.builtin.file:
            path: "{{ zone_cfgs__path }}"
            state: directory
            owner: bind
            group: bind
            mode: '0755'

        - name: "ROOT : create zones"
          ansible.builtin.template:
            src: "{{ item.src }}"
            dest: "{{ item.dest }}"
            owner: root
            group: bind
            mode: '0644'
          loop:
            - { src: "{{ tpls__path }}/db.root.j2", dest: "{{ zone_cfgs__path }}/db.root" }
            - { src: "{{ tpls__path }}/db.local.j2", dest: "{{ zone_cfgs__path }}/db.local" }
            - { src: "{{ tpls__path }}/db.0.j2", dest: "{{ zone_cfgs__path }}/db.0" }
            - { src: "{{ tpls__path }}/db.127.j2", dest: "{{ zone_cfgs__path }}/db.127" }
            - { src: "{{ tpls__path }}/db.255.j2", dest: "{{ zone_cfgs__path }}/db.255" }
          notify: "ROOT : check db.root"

        - name: "ROOT : create dir : {{ bind_logs__path }}"
          ansible.builtin.file:
            path: "{{ bind_logs__path }}"
            state: directory
            owner: root
            group: bind
            mode: '0755'

        - name: "ROOT : create file : {{ bind_logs__file }}"
          ansible.builtin.file:
            path: "{{ bind_logs__path }}/{{ bind_logs__file }}"
            state: touch
            owner: bind
            group: bind
            mode: '0640'
          notify: "ROOT : reload and start bind"
