---
- name: "PREL"
  become: true
  hosts: prel
  vars_files:
    - "../variables/common.yaml"
    - "../variables/terraform.yaml"

  vars:
    elastic_dir: "{{ prel_root_dir }}/elastic"
    prometh_dir: "{{ prel_root_dir }}/prometh"
    grafana_dir: "{{ prel_root_dir }}/grafana"

    elastic_data_dir: "{{ prel_root_dir }}/data"
    prometh_data_dir: "{{ prel_root_dir }}/data"
    grafana_data_dir: "{{ prel_root_dir }}/data"

    elastic_conf_dir: "{{ prel_root_dir }}/conf"
    prometh_conf_dir: "{{ prel_root_dir }}/conf"
    grafana_conf_dir: "{{ prel_root_dir }}/conf"

    elastic_templates_dir: "{{ prel_root_dir }}/templates"

  tasks:
    - name: "PREL : update"
      ansible.builtin.apt:
        update_cache: true

    - name: "PREL : create dirs"
      ansible.builtin.file:
        dest: "{{ item }}"
        state: directory
        owner: debian
        group: docker
        mode: '0755'
      loop:
        - "{{ prel_root_dir }}"
        - "{{ elastic_dir }}"
        - "{{ prometh_dir }}"
        - "{{ grafana_dir }}"
        - "{{ elastic_data_dir }}"
        - "{{ prometh_data_dir }}"
        - "{{ grafana_data_dir }}"
        - "{{ elastic_conf_dir }}"
        - "{{ prometh_conf_dir }}"
        - "{{ grafana_conf_dir }}"
        - "{{ elastic_templates_dir }}"

    - name: "PREL : set max map count"
      ansible.posix.sysctl:
        name: vm.max_map_count
        state: present
        value: '262144'
        reload: true
        sysctl_set: true

    - name: "PREL : set elastic dir permissions"
      ansible.builtin.file:
        path: "{{ elastic_data_dir }}"
        owner: 1000
        group: 1000
        mode: '0755'

    - name: "PREL : create docker-compose.yaml"
      ansible.builtin.template:
        src: "{{ templates_path }}/monitoring/docker-compose.yaml.j2"
        dest: "{{ prel_root_dir }}/docker-compose.yaml"
        owner: debian
        group: docker
        mode: '0644'

    - name: "PREL : create elasticsearch conf"
      ansible.builtin.template:
        src: "{{ templates_path }}/monitoring/elasticsearch.yaml.j2"
        dest: "{{ prel_root_dir }}/elasticsearch.yaml"
        owner: debian
        group: docker
        mode: '0644'

    - name: "PREL : create logstash conf"
      ansible.builtin.template:
        src: "{{ templates_path }}/monitoring/logstash.conf.j2"
        dest: "{{ elastic_conf_dir }}/logstash.conf"
        owner: debian
        group: docker
        mode: '0644'

    - name: "PREL : create logstash template"
      ansible.builtin.template:
        src: "{{ templates_path }}/monitoring/dns-template.json.j2"
        dest: "{{ elastic_templates_dir }}/dns-template.json"
        owner: debian
        group: docker
        mode: '0644'

    # - name: "PREL : pull images"
    #   community.docker.docker_image:
    #     name: "{{ item }}"
    #     source: pull
    #   loop:
    #     - "{{ elasticsearch_img }}"
    #     - "{{ logstash_img }}"
    #     - "{{ kibana_img }}"

    - name: "PREL : start stack"
      community.docker.docker_compose_v2:
        project_src: "{{ prel_root_dir }}"
        state: present
        recreate: always
