options {
  directory "/var/cache/bind";

  listen-on port 53 { any; };

  allow-query { any; };
  allow-transfer { none; };
  allow-update { none; };

  recursion no;
  auth-nxdomain no;
  dnssec-validation no;
};

zone "{{ zone }}" {
  type master;
  file "{{ zone_path }}/db.tldd";

  allow-transfer { none; };
  allow-update { none; };
};

zone "{{ root_zone }}" {
  type hint;
  file "{{ zone_path }}/db.root.hints";
};

zone "localhost" {
  type master;
  file "{{ zone_path }}/db.local";
};

zone "0.in-addr.arpa" {
  type master;
  file "{{ zone_path }}/db.0";
};

zone "127.in-addr.arpa" {
  type master;
  file "{{ zone_path }}/db.127";
};

zone "255.in-addr.arpa" {
  type master;
  file "{{ zone_path }}/db.255";
};

logging {
  channel query_log {
    file "{{ bind_logs_path }}/{{ bind_query_logs_file }}" versions 10 size 50m;
    severity info;
    print-time yes;
    print-category yes;
    print-severity yes;
  };
    
  category queries { query_log; };
  category query-errors { query_log; };
};